
header {
    background-color: navy;
    text-align: center;
    color: white;

    position: relative;
    width: 1137px;
    margin: 0 auto 0 auto;
}

#formWrapper{
    position: relative;
    top: 50px;
}

#articleWrapper{
    position: relative;
    top: 50px;
}